@import "mediaq";

$redshade: #e84a65;
$blackshade: #323232;
$blackshaddarkder: #1b1b1b;

@mixin shadow{
    text-shadow: 0.5px 0.5px 0.5px #5e0816;
}

@mixin relative{
    position: relative;
    text-align: center;
    color: white;
}

@mixin centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    width: 80%;
    border-radius: 16px;
}

@mixin centerImg{
    margin: auto;
    display: block;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.titles{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: bold;
    &-section{
        letter-spacing: 2px;
        color: $blackshaddarkder;
    }
}

.mediumtitles{
    font-size: 48px;
    font-weight: bold;
    color: $blackshaddarkder;
}

.bigtitles{
    font-size: 76px;
    font-weight: bold;
    color: $redshade;
}

.text{
    font-size: 16px;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item .nav-link:active,
.navbar-dark .nav-item .nav-link:focus,
.navbar-dark .nav-item:hover .nav-link {
    color: $redshade;
    font-weight: bold;
    @include shadow();
}

.nav-item{
    padding: 13px 20px;
    @include shadow();
}

.navbar-dark{
    background-color: rgba(0, 0, 0, 0.2);
    &.scrolled{
        background-color: $blackshade !important;
        transition: background-color 500ms linear;
    }
}

#nav-button{
    text-transform: uppercase;
    padding: 8px;
    &:hover{
        background-color: transparent;
        border: 1px solid $redshade !important;
        color: white;
    }
    
}

.carr{
    #imagemain{ 
        width: 100%;
    }
    .cont-relative{
        @include relative();
        @include shadow();
        .centered {
            @include centered();
            padding: 32px;
            .text, .titles{
                font-weight: bolder;
            }
            .btns{
                .btn{
                    font-size: 14px;
                    font-weight: bold;
                    padding: 13px 20px;
                    border-radius: none;
                    text-transform: uppercase;
                    border-radius: 0;
                    transition: 0.7s;
                }
                .btn-warning{
                    background-color: $redshade;
                    border: 1px solid $redshade;
                    &:hover{
                        color: $redshade;
                        background-color: $blackshade;
                        border: 1px solid $blackshade;

                    }
                }
                .btn-outline-light{
                    border: 1px solid grey;
                    margin-left: 16px;
                    &:hover{
                        background-color: $blackshade;
                        border: 1px solid $redshade;
                        color: white;
                    }
                }
            }
        }
    }
}

.desc{
    color:$blackshade;
}

.icon-desc{
    font-size: 40px;
    color: $redshade;
}

#second{
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.firstsection{
    padding: 112px 16px 96px;
    .mediumtitles{
        margin-top: 16px;
        margin-bottom: 16px;
        @include shadow();
    }
    img{
        width: 80%;
        @include centerImg();
    }
    .small{
        font-size: 25px;
    }
}

.center-content{
    text-align: center;
    p{
        padding: 0 32px;
        margin-bottom: 32px;
    }
}

.list{
    list-style-type: none;
    .item{
        display: inline;
        img{
            width: 100px;
            border-radius: 50%;
        }
    }
}

.sec3{
    margin-top: 8.6vh;
    #img2{
        width: 100%;
    }
    .rel{
        @include relative();
        .centered{
            @include centered();
            background-color: rgba(0, 0, 0, 0.6);
            .row{
                padding: 32px;
                .mediumtitles {
                    color: white;
                    @include shadow();
                    text-align: left;
                    &-small{
                        font-size: 1.3em;
                        text-align: left;
                        @include shadow();
                        font-weight: bold;
                        padding: 8px 0;
                    }
                }
            }
        }
    }
}

#para{
    text-align: left;
    @include shadow();
}

.borded{
    border: 1px solid $blackshade;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    &:hover{
        border: 1px solid white;
    }
}

.number{
    font-weight: bold;
    @include shadow();
    &-desc{
        text-transform: uppercase;
        font-size: 1em;
        color: $redshade;
        @include shadow();
    }
}

.sec4{
    padding: 112px 16px 96px;
    h3{
        margin-top: 32px;
        color: $redshade;
        font-weight: bold;
        @include shadow();
    }
    img{
        width: 100%;
        border-radius: 10px;
        @include centerImg();
        transition: filter .3s ease-in-out;
        -webkit-filter: grayscale(90%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(90%); /* FF 35+ */
        &:hover{
            -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
            filter: grayscale(0%); /* FF 35+ */
        }
    }
}



.card{
    margin-bottom: 24px;
    .cont {
        position: relative;
    }
    img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        .text2{
            font-weight: bold;
            font-size: 18px;
            @include shadow();
        }
        .big-icon{
            font-size: 48px;
            cursor: pointer;
        }
    }
    .cont:hover img {
        opacity: 0.4;
    }
    .cont:hover .middle {
        opacity: 1;
    }
    h5{
        font-weight: bold;
    }
    .row{
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        .col-sm-3{
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            font-weight: bold;
            i{
                color: $redshade;
            }
        }
    }
}

.padded{
    margin-top: 64px;
    #whatTheySay{
        background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=1060&t=st=1676761404~exp=1676762004~hmac=ae6267f980e748716237cf49b0e6b63eed713573eeaf269959c3d520d084aa76");
        .titles.titles-section{
            @include shadow();
            padding-top: 64px;
        }
        .mediumtitles{
            @include shadow();
        }
        hr{
            width: 20%;
            margin: auto;
            border: 1.5px solid $redshade;
            margin-bottom: 40px;
        }
        .author{
            margin-bottom: 64px;
        }
    }
}

#v-carousel{
    padding-bottom: 16px;
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 16px;
        font-weight: bold;
    }
}

#carouselExampleControls{
    padding-bottom: 24px;
}

.carousel-control-prev, .carousel-control-next{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.carousel-item{
    h5{
        font-weight: bold;
    }
}

#plans{
    margin-top: 64px;
    .row{
        margin-top: 64px;
    }

    .card-body{
        .card-title{
            font-size: 27px;
            span{
                font-weight: 400;
            }
        }
        hr{
            width: 80%;
            margin: auto;
            border: 1px solid $redshade;
            margin-bottom: 24px; 
        }
        .card-text{
            text-align: left;
            font-size: 14px;
        }

        .price{
            font-size: 48px;
            color: $redshade;
            font-weight: bolder;
            span{
                font-size: 18px;
                color: $blackshade;
                font-weight: bold;
            }
        }
        .btn.btn-primary{
            background-color: $redshade;
            border: none;
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            padding: 8px;
            transition: 0.4s;
            margin-top: 32px;
            &:hover{
                background-color: $blackshaddarkder;
                color: $redshade;
            }
        }
        .list-group-item{
            text-align: left;
            i{
                font-weight: bolder;
                color: $redshade;
            }
        }

    }

    #highligth{
        color: white;
        .price{
            span{
                color: white;
            }
        }

    }
}

footer{
    background-color: $blackshade;
    color: white;
    @include shadow();
    margin-top: 64px;
    .row{
        img{
            width:180px;
        }
    }
    #mail{
        margin-top: 32px;
    }
    ul{
        list-style: none;
    }
    #descripition{
        li{
            font-weight: bold;
            text-align: left;
            &::before {
                content: "\2022";
                color: $redshade;
                font-weight: bold;
                display: inline-block; 
                width: 1.5em;
                margin-left: -1em;
            }
        }
    }
}